# Datababse Syncronization Script - Palladium 
#### About Script
The script should do the following;
- Query all the table names in the database
- Merge all the similar tables in the databases
- Create a new database
- dump all the merged tables into the new database.

#### Import Dependancies

In [ ]:
import pandas as pd 
import mysql.connector
import json
import os
import glob
from sqlalchemy import create_engine

In [100]:


# host = "192.168.0.200"
host = "localhost"
user = "root"
# password = "irdo@ugunja" 
password = "P@55w0rd."
auth_plugin = "mysql_native_password"

condb = mysql.connector.connect(
    host=host,
    user=user,
    password=password, 
    auth_plugin=auth_plugin
)

cursor = condb.cursor() 
cursor.execute("show databases")

databases = cursor.fetchall()
 
databases = ' '.join(str(v) for v in databases)
databases = "".join(filter(lambda x: x != "(", databases)) 
databases = "".join(filter(lambda x: x != ")", databases)) 
databases = "".join(filter(lambda x: x != ",", databases))
databases = "".join(filter(lambda x: x != "'", databases)) 

databases = databases.split()
excluded_databases = ['information_schema', 'dwapi', 'mysql', 'testdb']
for database in databases:
    if database not in excluded_databases:
#         print(database)
#         cursor.execute("use openmrs;")
#         print(cursor.execute("show tables;"))
#         cursor.execute("use openmrs;")
#         cursor.execute("use openmrs;show tables;", multi=True)
#         tables = cursor.fetchall()
#         for table in tables:
#             print(table) 
        print (database)

emrfix
irdoweb
kenyaemr_datatools
kenyaemr_etl
openmrs
openmrs1710
performance_schema
sys

#### Get Databases

#### Get Tables and Merge

In [109]:
cursor = condb.cursor() 
db_one = "openmrs"
db_two = "openmrs1710"
cursor.execute("use openmrs")
cursor.execute("show tables")

tables = cursor.fetchall()
 
tables = ' '.join(str(v) for v in tables)
tables = "".join(filter(lambda x: x != "(", tables)) 
tables = "".join(filter(lambda x: x != ")", tables)) 
tables = "".join(filter(lambda x: x != ",", tables))
tables = "".join(filter(lambda x: x != "'", tables)) 

tables = tables.split()

excluded_tables = ['table1', 'table2', 'table3', 'table4']
for table in tables:
    if table not in excluded_tables: 
#         cursor.execute("use openmrs;")
#         print(cursor.execute("show tables;"))
#         cursor.execute("use openmrs;")
#         cursor.execute("use openmrs;show tables;", multi=True)
#         tables = cursor.fetchall()
#         for table in tables:
#             print(table) 
        print (table)
        break

active_list

In [ ]:
for word in values:
    print

In [93]:



df = pd.read_sql('SELECT * FROM openmrs.users', condb)

def merge_db(table):
    
df.head()

,user_id,system_id,username,password,salt,secret_question,secret_answer,creator,date_created,changed_by,date_changed,person_id,retired,retired_by,date_retired,retire_reason,uuid
0,1,admin,,53879801847b563c883f8b2081d24c17ec85eeaaf92079...,aa3b861547ae1e6d9dbef33118d183f71e432c3e86f4c9...,None,None,1,2005-01-01 00:00:00,1.0,2020-06-07 20:35:40,1,0,NaN,NaT,None,4d83ec43-1d41-11e4-94c4-7446a091872c
1,2,daemon,daemon,None,None,None,None,1,2010-04-26 13:25:00,NaN,NaT,1,0,NaN,NaT,None,A4F30A1B-5EB9-11DF-A648-37A07F9C90FB
2,3,3-4,upgradeManager,f0474310b852328b7c929c6c8090d4ef8ce01a43cad9eb...,85ea0f4e6771b5a59a4ec742cd81e565a7576711378fab...,None,None,1,2019-03-20 07:19:51,1.0,2019-03-20 07:19:51,3,0,NaN,NaT,None,681f9059-2a89-4a43-bbcb-3c61203e4a81
3,4,4-2,ROdeny,a7f509b7dfc3125002c8b799e699c96c68df896f1b9446...,98b71e473bbda3fa86a8a7507c00f1df5433c45b7ba416...,,None,1,2020-04-29 16:21:43,1.0,2020-04-29 16:21:43,4,0,NaN,NaT,None,a8fab4de-e255-4b49-b1d2-da1447218859
4,5,5-9,OBrien,1e65769253c0ae4bed3bf236f7bc5ef6e93ac531b7f523...,00b11e0c1721bec3c7fef5177fbd35c50bca79527f136b...,,None,1,2020-04-30 20:45:35,1.0,2020-04-30 20:45:35,5,0,NaN,NaT,None,c1eeefa3-5a55-4a53-8789-ca2ad382c39a